:root {
    --main-primary-color: #101820ff;
    --main-secondary-color: rgb(18, 28, 37);
    --main-primary-font-color: #f2aa4cff;
    --main-secondary-font-color: rgb(235, 181, 112);
    --main-complementary-font-color: #f8f8ff;
    --main-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-primary-color);
    color: var(--main-primary-font-color);
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    text-align: center;
    column-count: 2;
}

.container .left {
    width: 35%;
    float: left;
}

.container .right {
    width: 35%;
    float: right;
}

.section {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-top: calc(0.5vw + 2.5vw);
    margin-bottom: calc(0.5vw + 2.5vw);
    background-color: var(--main-secondary-color);
}

.section .skill-icons img {
    width: 100%;
    max-width: calc(2.5vw + 2.5vh);
    height: auto;
    padding: 0px 10px;
    padding: 0px calc(0.75vw + 0.75vh);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.section .skill-icons img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.container .item { flex: 1 0 100%; }
.container h1 { font-size: calc(2.0vw + 2.0vh); }
.container h2, h3 { color: var(--main-secondary-font-color); }
.container h2 { font-size: calc(1.25vw + 1.25vh); }
.container h3 { font-size: calc(0.75vw + 0.75vh); }

.container .image-link {
    transition: transform .2s;
    margin: 10px;
    margin: 0px;
}

.container .image-link a {
    color: var(--main-primary-font-color);
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
    font-size: calc(1.0vw + 1.0vh);
    padding: calc(0.75vw + 0.75vh) calc(0.75vw + 0.75vh);
}

.container .image-link:hover {
    transform: scale(1.5);
}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}

/* 
@media (max-width: 1000px) {
    .container h1 {
        font-size: 60px;
    }
    .container h2 {
        font-size: 48px;
    }
    .container h3 {
        font-size: 30px;
    }
    .container .image-link a {
        padding: 20px 20px;
        font-size: 30px;
    }
} */