<header
  class="fixed top-0 left-0 right-0 py-4 md:py-6 lg:py-6 px-4 z-50 backdrop-blur border-b-2 border-secondary"
>
  <div class="container flex justify-between items-center mx-auto w-full">
    <div class="text-2xl font-bold">
      <a class="hover:text-secondary" href="/#" title="Go to homepage">
        James Durban
      </a>
    </div>
    <ol class="header-list">
      <li>
        <a class="hover:text-secondary" href="/#skills" title="Go to Skills">
          Skills
        </a>
      </li>
      <li>
        <a
          class="hover:text-secondary"
          href="/#projects"
          title="Go to projects"
        >
          Projects
        </a>
      </li>
    </ol>
    <div class="md:hidden">
      <button
        id="dropdown-button"
        data-dropdown-toggle="dropdown"
        class="text-white focus:ring-4 focus:outline-none focus:ring-gray-500 font-medium rounded text-sm px-4 py-2.5 text-center inline-flex items-center"
        type="button"
        aria-label="Dropdown Menu"
      >
        <svg
          width="26"
          height="18"
          viewBox="0 0 26 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13 17.5H0.25V14.6667H13V17.5ZM25.75 10.4167H0.25V7.58333H25.75V10.4167ZM25.75 3.33333H13V0.5H25.75V3.33333Z"
            fill="white"></path>
        </svg>
      </button>
    </div>
  </div>
</header>

<style>
  .backdrop-blur {
    background-color: rgba(bg-theme, 0.9);
  }

  .header-list {
    list-style-type: decimal-leading-zero;
    @apply hidden md:flex space-x-12 lg:space-x-24 items-center text-xl;
  }

  .header-list li::marker {
    @apply text-secondary;
  }
</style>
