---
import SkillIcon from "./SkillIcon.astro";
---

<section id="skills" class="section justify-between">
  <section class="w-full">
    <h2 class="section-title">Skills</h2>
    <p class="section-paragraph text-quaternary">
      I have professional and hobbyist experience in a large variety of tools
      and languages. Below is a non exhaustive list of my most used
      technologies.
    </p>

    <div
      class="grid grid-rows-1 gap-8 mt-6 border border-gray-800 rounded-3xl p-4 pt-12 pb-12"
    >
      <div
        class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8"
      >
        <SkillIcon title="TypeScript" src="/assets/icons/typescript.svg" />
        <SkillIcon title="JavaScript" src="/assets/icons/javascript.svg" />
        <SkillIcon title="React" src="/assets/icons/react.svg" />
        <SkillIcon title="Node.js" src="/assets/icons/nodejs.svg" />
        <SkillIcon title="PowerShell" src="/assets/icons/powershell.svg" />
        <SkillIcon title="CSS3" src="/assets/icons/css3.svg" />
        <SkillIcon title="HTML5" src="/assets/icons/html5.svg" />
        <SkillIcon title="C++" src="/assets/icons/cpp.svg" />
        <SkillIcon title="Python" src="/assets/icons/python.svg" />
        <SkillIcon title="Rust" src="/assets/icons/rust.svg" />
        <SkillIcon title="C#" src="/assets/icons/csharp.svg" />
        <SkillIcon title="MUI" src="/assets/icons/mui.svg" />
        <SkillIcon title="Git" src="/assets/icons/git.svg" />
        <SkillIcon title="GitHub" src="/assets/icons/github.svg" />
        <SkillIcon title="Docker" src="/assets/icons/docker.svg" />
        <SkillIcon title="Sqlite" src="/assets/icons/sqlite.svg" />
        <SkillIcon title="MSSQL" src="/assets/icons/mssql.svg" />
        <SkillIcon title="Bash" src="/assets/icons/bash.svg" />
      </div>
    </div>
  </section>
</section>
